<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.city.mapper.CityMapper">
    <select id="getCityList" resultType="CityTravelGetDto" parameterType="String">
        SELECT
            t.city_id as cityId
        ,   t.start_date as startDate
        ,   t.end_date as endDate
        ,   c.name as name
        ,   c.address as address
        ,   c.comment as comment
        FROM travel AS t
        INNER JOIN city AS c ON t.city_id = c.id
        WHERE t.member_id = #{memberId}
        ORDER BY CASE
        <![CDATA[
            WHEN start_date <= NOW() AND NOW() <= end_date THEN 1
            WHEN c.register_date <= NOW() THEN 2
        ]]>
        ELSE 0
        END ASC
    </select>

    <insert id="setCity" parameterType="City">
        INSERT INTO city (
               `name`
             , `address`
             , comment
             , register_date
        ) VALUES (
             #{name}
             , #{address}
             , #{comment}
             , NOW()
         )
    </insert>
</mapper>